#shield-prompt-modal {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 10px;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
}

.analysis-summary {
  margin-bottom: 5px;
}

.matched-word {
  color: #f00;
}

.good {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.bad {
  color: #f00bff;
  cursor: pointer;
  text-decoration: underline;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.context {
  flex-grow: 1;
  overflow-wrap: break-word; /* Breaks long words to fit the container width */
  word-break: break-word; /* Fallback for older browsers */
  max-width: 500px; /* Set the maximum width of the context div, adjust as needed */
}

.actions {
  display: flex;
  gap: 10px;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
